<div class="header post_header">
  <h2 class="section-heading">Latest Posts</h2>
</div>

<ul class="blog_content container">
  {% for post in site.posts reversed limit:10 %}
  <li class="row">
    {% if post.image %}
    <img class="col-sm-2 col-xs-12" src="{{post.image | relative_url}}" alt="{{post.title}}">
    {% else %}
    <img class="col-sm-2 col-xs-12" src="{{'/img/portfolio/bg' | relative_url }}" alt="{{post.title}}">
    {% endif %}
    <div class="col-sm-10 col-xs-12">
      <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
      <div>{{ post.excerpt | truncate: 200 | strip_html }}</div>
    </div>
  </li>
  {% endfor %}
</ul>