<section class="container contact_form">
  {% assign contact = site.data.contact %}
  <form action="{{contact.action}}" method="{{contact.method}}" id="mc-embedded-subscribe-form" name="{{contact.name}}"
    class="validate text-center" target="_blank" novalidate>
    <h2 class="section-heading text-center">{{contact.title}}</h2>
    <hr class="primary">
    <p>{{contact.descr}}</p>
    <div class=" row">
      <p class=" col-md-5">
        <input type="text" value="" name="{{contact.name1}}" class="form-control" id="{{contact.id1}}"
          placeholder="Your Name">
        </pc>
        <p class=" col-md-5">
          <input type="email" value="" name="{{contact.name2}}" class="required email form-control" id="{{contact.id2}}"
            placeholder="Your Email Address">
        </p>
        <p class=" col-md-2">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn button_s">
        </p>
    </div>
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="{{contact.mc_id}}"
        tabindex="-1" value=""></div>
  </form>
</section>