<section class="no-padding" id="docs">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.sysb.ai/blog/how-to-access-local-web-application.html" class="portfolio-box">
                    <img src="{{'/img/portfolio/1.jpg' | relative_url }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!-- <div class="project-category text-faded">
                                Category
                            </div> -->
                            <div class="project-name">
                                HTTP Port Forwarding
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.sysb.ai/blog/how-to-get-static-subdomain.html" class="portfolio-box">
                    <img src="{{'/img/portfolio/6.jpg' | relative_url }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!-- <div class="project-category text-faded">
                                Category
                            </div> -->
                            <div class="project-name">
                                Static Subdomain
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.sysb.ai/blog/how-to-add-custom-header.html" class="portfolio-box">
                    <img src="{{'/img/portfolio/2.jpg' | relative_url }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!-- <div class="project-category text-faded">
                                Category
                            </div> -->
                            <div class="project-name">
                                HTTP HEADER
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.sysb.ai/blog/how-to-access-tcp-application-over-internet.html" class="portfolio-box">
                    <img src="{{'/img/portfolio/3.jpg' | relative_url }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!-- <div class="project-category text-faded">
                                Category
                            </div> -->
                            <div class="project-name text-faded">
                                TCP Port Forwarding
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.sysb.ai/blog/ssl-and-http2-support.html" class="portfolio-box">
                    <img src="{{'/img/portfolio/4.jpg' | relative_url }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!-- <div class="project-category text-faded">
                                Category
                            </div> -->
                            <div class="project-name">
                                SSL and HTTP2 support
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.sysb.ai/blog/ssh-tips-and-tricks.html" class="portfolio-box">
                    <img src="{{'/img/portfolio/5.jpg' | relative_url }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!-- <div class="project-category text-faded">
                                Category
                            </div> -->
                            <div class="project-name">
                                SSH Tips and Tricks
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
