<section class="no-padding" id="docs">
    <div class="container-fluid">
        {% assign posts = site.posts | where: "tag", "landing-page" %}
        <div class="row no-gutter">
            {% for post in posts reversed limit:6 %}
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="{{ post.image | relative_url }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!-- <h4 class="project-category text-faded"> -->
                            <h4 class="project-category">
                                {{post.title}}
                            </h4>
                            <p class="project-name text-faded">{{post.excerpt | truncate: 100 | strip_html}}</p>
                            <a href="{{post.url | relative_url}}" class="btn">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
