.header {
  position: relative;
  margin: 0;
  padding: 50px;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: rgba($theme-dark, 0.6);
  .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
    .header-content-inner {
      h1 {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
      }
      hr {
        margin: 30px auto;
      }
      p {
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 50px;
        // font-weight: inherit;
        color: rgba($theme-dark, 0.6);
      }
    }
  }
  @media (min-width: 768px) {
    .header-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 0 50px;
      .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        p {
          font-size: 18px;
          max-width: 80%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
.home_body,
.post_body,
.blog_body {
  .navbar-default {
    .navbar-header .navbar-brand {
      color: $theme-primary;
      &:hover {
        // color: darken($theme-primary, 25%);
        color: $theme-primary;
      }
    }
    border-bottom: 1px solid rgba($theme-primary, 0.5);
    .nav > li > a,
    .nav > li > a:focus {
      color: rgba($theme-dark, 0.7);
    }
  }
}

.navbar-default .navbar-header .navbar-brand {
  color: $theme-primary;
}

.post_header {
  padding: 100px 0 30px;
  background-image: none;
  color: $theme-dark;
}
.blog_content {
  img {
    margin-top: 25px;
  }
  li {
    list-style-type: none;
  }
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.post_top_image {
  width: 100%;
  margin-bottom: 50px;
}
.post_content_box {
  padding-top: 0;
  padding-bottom: 0;
  max-width: 800px;
  margin: 0 auto;
}
.contact {
  padding: 50px 0;
  * {
    color: $theme-dark;
  }
  a:hover {
    text-decoration: none;
  }
}

.contact_form {
  padding: 10px 50px 50px;
  .form-control {
    // color: rgba($theme-primary, 0.4);
    color: black;
    margin: 10px auto;
    border: 1px solid rgba($theme-primary, 0.7);
    @include sans-serif-font;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .button_s {
    display: block;
    width: 100%;
    background: $theme-primary;
    font-size: 16px;
    color: white;
    margin: 10px auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}
